.parallelogram-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face {
    position: absolute;
}

/* Дополнительный CSS для Handle (на случай, если React Flow навязывает стили) */
.react-flow__handle {
    border-radius: 50% !important;
}